@import './variables.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-family;
    width: 100%;
    height: 100%;
}

body {
    font-family: $font-family;
    width: 100%;
    background-color: $color-off-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}