// Couleurs
$color-dark-navy: #172339; // RGB(23, 35, 57)
$color-greyish-blue: #49566D; // RGB(73, 86, 109)
$color-light-cream: #F3EDE7; // RGB(243, 237, 231)
$color-off-white: #FAF8F6; // RGB(250, 248, 246)
$color-vivid-blue: #A060FF; // RGB(160, 96, 255)
$color-bright-purple: #CB30E3; // RGB(203, 48, 227)
$color-vivid-orange: #FFA84E; // RGB(255, 168, 78)

// Typographie
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
$font-family: 'Epilogue',
sans-serif;

// Poids de la police
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-xl: 72px;
$line-height-xl: 78px;
$letter-spacing-xl: -1px;

$font-size-l: 48px;
$line-height-l: 56px;
$letter-spacing-l: -0.5px;

$font-size-m: 18px;
$line-height-m: 32px;
$letter-spacing-m: -0.2px;

$font-size-s: 16px;
$line-height-s: 26px;
$letter-spacing-s: -2.5px;

$font-size-quote: 20px;
$line-height-quote: 35px;
$letter-spacing-quote: 0px;

$font-size-body: 18px;
$line-height-body: 32px;
$letter-spacing-body: 0px;

$font-size-footer: 15px;
$line-height-footer: 32px;
$letter-spacing-footer: 0px;

// Boutons
$button-primary-background: $color-vivid-blue;
$button-secondary-background: $color-greyish-blue;
$button-hover-opacity: 0.8;