<template>
    <div class="suite-landing-page-container">
        <!-- Navbar Component -->
        <Navbar />
        <!-- Hero Section -->
        <Hero />
        <!-- Testimonial Section -->
        <Testimonial />
        <!-- Footer Component -->
        <Footer />
        <div class="background-cream"></div>
    </div>
</template>
  
<script>
import Navbar from '@/components/Navbar.vue';
import Button from '@/components/Button.vue';
import Footer from '@/components/Footer.vue';
import Testimonial from '@/components/Testimonial.vue';
import Hero from '@/components/Hero.vue';

export default {
    components: {
        Navbar,
        Button,
        Footer,
        Testimonial,
        Hero
    }
}
</script>
  
<style lang="scss" scoped>
@import "@/styles/variables.scss";

.suite-landing-page-container {
    width: 99.1vw;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-cream {
    position: absolute;
    width: 100%;
    height: 464px;
    bottom: 0;
    left: 0;
    background-color: $color-light-cream;
    z-index: -1;
}

// Media queries pour ajuster le conteneur principal selon la taille de l'écran des tablettes
@media (max-width: 768px) {
    .suite-landing-page-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-height: initial;
        justify-content: flex-start;
        padding-left: 40px;
        padding-right: 40px;

        .background-cream {
            height: 420px;
        }
    }
}

// Media queries pour ajuster le conteneur principal selon la taille de l'écran
@media (max-width: 375px) {
    .suite-landing-page-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: none;
        min-height: initial;
        justify-content: flex-start;
        padding: 0;
    }
}
</style>
  