<template>
    <button :class="`button ${type}`" @click="onClick">
        <slot></slot>
    </button>
</template>
  
<script>
export default {
    props: {
        type: {
            type: String,
            default: 'button-nav'
        },
        onClick: Function
    }
};
</script>
  
<style lang="scss" scoped>
@import "@/styles/variables.scss";

.button {
    padding: 10px 20px;
    border-radius: 4px;
    font-family: $font-family;
    line-height: $line-height-m;
    letter-spacing: -0.16px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, background-image 0.3s, border-color 0.3s;


    // Styles spécifiques pour le bouton dans la navbar
    &.button-nav {
        color: $color-dark-navy;
        border: 1px solid #000;
        background-color: transparent;
        width: 100%;
        max-width: 219px;
        height: 50px;
        margin-right: 0;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;

        &:hover {
            background-color: $color-dark-navy;
            color: $color-off-white;
            ;
        }
    }

    // Styles spécifiques pour le bouton dans hero
    &.button-hero {
        background-color: $color-dark-navy;
        width: 100%;
        max-width: 256px;
        height: 61px;
        margin-right: 0;
        color: $color-off-white;
        font-size: $font-size-body;
        line-height: $line-height-body;
        font-weight: $font-weight-bold;
        border: none;

        &:hover {
            background-image: linear-gradient(to bottom right, $color-vivid-blue, $color-bright-purple, $color-vivid-orange);
            color: $color-off-white;

        }
    }
}

// Ajustements pour les tablettes
@media (max-width: 768px) {
    .button {
        padding: 8px 16px;
        font-size: $font-size-body;

        &.button-nav {
            max-width: none;
            width: auto;
            height: auto;
            padding: 12px 24px;
        }

        &.button-hero {
            max-width: none;
            width: auto;
            height: auto;
            padding: 12px 24px;
        }
    }
}

@media (max-width: 375px) {
    .button {
        padding: 8px 16px;
        font-size: $font-size-s;
        border-radius: 4px;

        // Bouton dans la navbar
        &.button-nav {
            max-width: none;
            width: auto;

            &:hover {
                background-color: $color-dark-navy;
            }
        }

        // Bouton dans hero
        &.button-hero {
            max-width: none;
            width: auto;
            height: auto;
            padding: 12px 24px;

        }
    }
}
</style>
  