<template>
  <footer class="footer">
    <a href="/" class="navbar-brand">
      <img src="@/assets/logo.svg" alt="Logo de suite" />
    </a>
    <div class="copyright">
      <p>Copyright - Suite</p>
    </div>
    <div class="socials">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <img src="@/assets/icon-facebook.svg" alt="Facebook" />
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <img src="@/assets/icon-twitter.svg" alt="Twitter" />
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <img src="@/assets/icon-instagram.svg" alt="Instagram" />
      </a>
    </div>
  </footer>
</template>

<script>
export default {

};
</script>

<style lang="scss">
@import "@/styles/variables.scss";


.footer {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 95px 0 72px;
  position: relative;
  z-index: 1;

  .navbar-brand {
    width: 81px;
    height: 32px;

    img {
      width: auto;
      height: auto;
    }
  }

  .copyright {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: $font-size-s;
      color: $color-greyish-blue;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 116px;
    height: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: auto;
        width: auto;

        &:hover,
        &:focus {
          opacity: 0.7;
        }
      }
    }
  }
}


@media (max-width: 375px) {
  .footer {
    flex-direction: column;

    gap: 33px;

  }
}
</style>
