<template>
    <section class="hero">

        <div class="text-section">
            <h1 class="title">
                A
                <span class="title__part title__part--bold super_solu">super solution</span>
                for your
                <span class="title__part title__part--bold">business.</span>
            </h1>
            <p class="description">
                Our marketing and sales automations<br>help you scale your outreach to get<br>more leads for your
                company.
            </p>
            <Button type="button-hero">Request Beta Access</Button>
        </div>
        <div class="image-section">
            <img src="@/assets/image-hero-portrait.png">
        </div>
        <div class="mobile-image-section">
            <img src="@/assets/image-hero-landscape.png">
        </div>
        <div class="stats-section">
            <div class="stat">
                <h2 class="stat-value">2K+</h2>
                <p class="stat-name">COMPANIES</p>
            </div>
            <div class="stat">
                <h2 class="stat-value">8</h2>
                <p class="stat-name">LANGUAGES</p>
            </div>
            <div class="stat">
                <h2 class="stat-value">1.2M</h2>
                <p class="stat-name">LEADS</p>
            </div>
        </div>
    </section>
</template>
  
<script>
import Button from '@/components/Button.vue';

export default {
    name: 'Hero',
    components: {
        Button
    }
};
</script>
  
<style lang="scss" scoped>
@import "@/styles/variables.scss";

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    min-height: 600px;
    margin: auto;
    position: relative;
    margin-bottom: 154px;

    .text-section {
        position: relative;
        max-width: 635px;
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        padding: 0;

        .title {
            position: relative;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            font-size: $font-size-xl;
            line-height: $line-height-xl;
            letter-spacing: $letter-spacing-xl;
            color: $color-dark-navy;

            .super_solu {
                position: relative;
                display: inline-block;
                font-weight: $font-weight-bold;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 100%;
                    margin-bottom: 21.32px;
                    width: 287px;
                    height: 40px;
                    background: url('@/assets/pattern-curved-line-1.svg') no-repeat center / contain;
                    z-index: 10;
                }
            }

            .title__part--bold {
                font-weight: $font-weight-bold;
            }
        }

        .description {
            color: $color-greyish-blue;
            font-size: $font-size-body;
            line-height: $line-height-body;
            letter-spacing: $letter-spacing-body;
            font-weight: $font-weight-regular;
            width: 350px;
            height: 96px;
            margin: 20px 0;
            margin-bottom: 52px;
        }
    }

    .image-section {
        position: absolute;
        right: 286px;

        img {
            height: auto;
            width: 100%;
        }
    }

    .mobile-image-section {
        display: none;
    }

    .stats-section {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 190px;
        grid-column: 2;
        grid-row: 1 / span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .stat {
            margin-bottom: 63px;

            &:last-child {
                margin-bottom: 0;
            }

            .stat-value {
                color: $color-dark-navy;
                font-size: $font-size-l;
                line-height: $line-height-l;
                letter-spacing: $letter-spacing-l;
                font-weight: $font-weight-bold;
            }

            .stat-name {
                color: $color-greyish-blue;
                font-size: $font-size-s;
                line-height: $line-height-s;
                letter-spacing: 2.5px;
                font-weight: $font-weight-regular;
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 689px;
        height: 653px;

        .text-section {
            position: relative;
            z-index: 2;
            max-width: 541px;
            margin-top: 88px;

            .title {
                font-family: $font-family;
                font-weight: $font-weight-regular;
                font-size: 56px;
                line-height: 64px;
                letter-spacing: -0.78px;

                .super_solu {

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 100%;
                        margin-bottom: 21.32px;
                        width: 231.19px;
                        height: 29px;
                        background: url('@/assets/pattern-curved-line-1.svg') no-repeat center / contain;
                        z-index: 10;
                    }
                }

                .title__part--bold {
                    font-weight: $font-weight-bold;
                }
            }

            .description {
                color: $color-greyish-blue;
                font-size: $font-size-body;
                line-height: $line-height-body;
                letter-spacing: $letter-spacing-body;
                font-weight: $font-weight-regular;
                width: 350px;
                height: 84px;
                margin: 20px 0;
                margin-bottom: 40px;
            }
        }

        .image-section {
            position: absolute;
            right: 0;

            img {
                height: auto;
                width: 281px;
            }
        }

        .mobile-image-section {
            display: none;
        }

        .stats-section {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            top: 30%;

            .stat {
                margin-bottom: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .hero {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 16px;
        gap: 56px;
        margin-bottom: 56px;

        .text-section {
            max-width: 100%;

            .title {
                font-size: 38px;
                line-height: 44px;
                letter-spacing: -0.53px;
                margin-bottom: 20px;

                .super_solu {
                    font-weight: $font-weight-bold;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 100%;
                        margin-bottom: 8.32px;
                        max-width: 152px;
                        max-height: 20px;
                        background: url('@/assets/pattern-curved-line-1.svg') no-repeat center / contain;
                        z-index: 10;
                    }
                }
            }

            .description {
                width: auto;
                height: auto;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 20px;
            }
        }

        .image-section {
            display: none;
        }

        .mobile-image-section {
            display: block;
            width: 100%;
            padding: 0;

            img {
                width: 100%;
                max-width: 343px;
                height: auto;
                margin: 0 auto;
            }
        }

        .stats-section {
            flex-direction: column;
            order: 3;
            width: 100%;
            position: static;
            transform: none;
            margin-top: 20px;

            .stat {
                text-align: center;
                margin: 10px auto;
                margin-bottom: 63px;

                &:last-child {
                    margin-bottom: 0;
                }

            }
        }
    }
}
</style>
  