<template>
  <nav class="navbar">
    <a href="/" class="navbar-brand">
      <img src="@/assets/logo.svg" alt="Logo de suite" />
    </a>
    <Button type="button-nav">Request Beta Access</Button>
  </nav>
</template>

<script>
import Button from "./Button.vue";

export default {
  components: {
    Button,
  },
};
</script>

<style scoped lang="scss">
@import "@/styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 67px;
  max-width: 1110px;
  margin: auto;
  width: 100%;

  .navbar-brand {
    img {
      height: auto;
      max-width: 100%;
      width: 82px;
    }
  }
}

// Ajustements pour les tablettes
@media (max-width: 768px) {
  .navbar {
    margin: 0;

    .navbar-brand img {
      max-width: 150px;
    }
  }
}

// Ajustements pour les appareils mobiles
@media (max-width: 375px) {
  .navbar {
    position: relative;
    width: 100%;
    padding: 24px 16px 56px;
    align-items: center;
    flex-wrap: wrap;
    gap:  16px;
  }
}
</style>