<template>
  <section class="testimonial">
    <div class="testimonial-container">
      <div class="testimonial-image desktop-image">
        <img src="@/assets/image-jeremy-large.png" alt="Jeremy Robinson" />
      </div>
      <div class="testimonial-image mobile-image">
        <img src="@/assets/image-jeremy-small@2x.png" alt="Jeremy Robinson">
      </div>
      <div class="pattern-curved-line-2">
        <img src="@/assets/pattern-curved-line-2.svg" alt="curved-line-2" />
      </div>
      <div class="testimonial-text">
        <h2><span class="regular">It just</span> <span class="bold">works.</span></h2>
        <p class="quote">"I really like how it is an all-in-one solution that handle many of the tasks that you would
          normally need
          separate tools to do the same job. This thing is a miracle worker."</p>
        <p class="author">Jeremy Robinson</p>
        <p class="position">CMO, FYLO</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Testimonial'
};
</script>

<style scoped lang="scss">
@import "@/styles/variables.scss";

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 1109px;
  width: 100%;
  height: 590px;
  position: relative;
  z-index: 3;
  margin: 0 auto;

  .testimonial-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 545px;
    border-radius: 24px;
    background-color: #172339;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    z-index: 1;
  }

  .testimonial-image.desktop-image {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 211px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 294px;
      margin: 0 auto;
      background: url('@/assets/pattern-blur.svg') no-repeat center / cover;
      filter: drop-shadow(0 0 88px #DB65E2);
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

  }

  .testimonial-image.mobile-image {
    display: none;
  }

  .pattern-curved-line-2 {
    position: absolute;
    top: 31%;
    z-index: 3;

    img {
      display: block;
      width: auto;
      height: auto;
    }
  }

  .testimonial-text {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    width: 100%;
    height: 369px;
    color: $color-off-white;

    h2 {
      font-size: $font-size-l;
      letter-spacing: $letter-spacing-l;
      line-height: $line-height-l;
      font-weight: normal;
      margin-bottom: 16px;

      .regular {}

      .bold {
        font-weight: bold;
      }
    }

    .quote {
      font-size: $font-size-quote;
      line-height: $line-height-quote;
      letter-spacing: $letter-spacing-quote;
      margin-bottom: 40px;
      text-align: left;
      margin: auto;
      height: 175px;
    }

    .author {
      font-size: $font-size-m;
      line-height: $line-height-m;
      font-weight: $font-weight-bold;
      letter-spacing: -0.18px;
      text-transform: uppercase;
      width: 100%;
      height: 32px;
    }

    .position {
      font-size: $font-size-s;
      line-height: $line-height-s;
      letter-spacing: 2.5px;
      width: auto;
      height: 28px;
    }
  }
}

// media queries les design tablettes
@media (max-width: 768px) {

  .testimonial {
    width: 100%;
    height: 929px;

    .testimonial-container {
      flex-direction: column;
      height: 748px;
      align-items: center;
      text-align: center;
    }

    .testimonial-image {
      &.desktop-image {
        display: none;
      }

      &.mobile-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 689px;
        height: 402px;
        margin-top: -200px;
        margin-bottom: 117px;
        z-index: 2;

        img {
          width: 100%;
          max-width: 252px;
          height: auto;
        }

        &::before {
          content: none;
        }
      }
    }

    .pattern-curved-line-2 {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 37px;

      img {
        max-width: 50px;
      }
    }

    .testimonial-text {
      width: 100%;
      max-width: 335px;
      padding-bottom: 40px;
      margin: 0 auto;

      h2,
      .quote,
      .author,
      .position {
        text-align: center;
        width: auto;
      }

      .quote {
        height: auto;
        font-size: $font-size-body;
        line-height: $line-height-body;
        letter-spacing: 0.09px;
      }

      .author {}

      .position {}
    }
  }

}

@media (max-width: 375px) {
  .testimonial {
    width: 100%;
    height: 929px;

    .testimonial-container {
      flex-direction: column;
      height: 748px;
      align-items: center;
      text-align: center;
    }

    .testimonial-image {
      &.desktop-image {
        display: none;
      }

      &.mobile-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 343px;
        height: auto;
        margin-top: -200px;
        margin-bottom: 117px;
        z-index: 2;

        img {
          width: 100%;
          max-width: 252px;
          height: auto;
        }

        &::before {
          content: none;
        }
      }
    }

    .pattern-curved-line-2 {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 37px;

      img {
        max-width: 50px;
      }
    }

    .testimonial-text {
      width: 100%;
      max-width: 335px;
      padding-bottom: 40px;
      margin: 0 auto;

      h2,
      .quote,
      .author,
      .position {
        text-align: center;
        width: auto;
      }

      .quote {
        height: auto;
        font-size: $font-size-body;
        line-height: $line-height-body;
        letter-spacing: 0.09px;
      }

      .author {}

      .position {}
    }
  }
}
</style>
